        <div class="card-panel hoverable">
            <h3><%= post[:title] %></h3>
            <%= render '/partials/article-meta.html', article: post %>
            <p class="flow-text"><%= excerptize(strip_html(post.compiled_content(snapshot: :pre)), length: 140) %></p>
            <a class="waves-effect waves-light btn light-green darken-4" href="<%= post.path %>"><i class="small material-icons right">chevron_right</i>Lire l'article</a>
        </div>
