        <div class="valign-wrapper">
           <i class="small material-icons">person</i>
           <% for author in authors(article) %><div class="chip left"><img src="/images/person/<%= author %>.jpg" alt="avatar (<%= author %>)" /> <%= author %></div><% end %>
        </div>
        <div class="valign-wrapper"><div class="left"><i class="small material-icons">access_time</i></div><div><%= localize_date attribute_to_time(article[:created_at]) %></div></div>
        <div class="valign-wrapper"><div class="left"><i class="small material-icons">label</i></div><div><%= tag_links_for(article, ' ', class: "chip") %></div></div>
