  <!-- Footer -->
  <footer class="page-footer light-green darken-4">
     <div class="container center-align">
         <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
             <img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
         </a>
      </div>
  </footer>
