<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="<%= authors(item).join(', ') %>">
    <% if @item[:kind] == 'article' %>
    <meta property="og:title" content="<%= @item[:title] %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= url_for(@item) %>" />
    <% end %>
    <link rel="author" href="/humans.txt" />
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Flux ATOM de Nimukaito" />
    <link rel="icon" 
      type="image/png" 
      href="/favicon.png" />

    <title>Nimukaito <%= "- #{@item[:title]}" if @item[:title] %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/materialize.min.css" rel="stylesheet" />
    <link href="/css/coderay.css" rel="stylesheet" />
    <link href="/css/material-icons.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="/css/blog.css" rel="stylesheet" />
    <link rel="me" href="https://eldritch.cafe/@floreal" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
