    <!-- Navigation -->
    <nav class="z-depth-3 light-green darken-4">
        <div class="container">
            <div class="nav-wrapper">
                <%= link_to('Nimukaito', '/', class: "brand-logo") %>
                <a href="#" data-activates="side-mobile-menu" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><%= link_to('Tags', '/tags') %></li>
                    <li><%= link_to('À propos', '/about') %></li>
                    <li><%= link_to('Me contacter', 'mailto:floreal+blog@nimukaito.net') %></li>
                </ul>
                <ul class="side-nav" id="side-mobile-menu">
                    <li><%= link_to('Tags', '/tags') %></li>
                    <li><%= link_to('À propos', '/about') %></li>
                    <li><%= link_to('Me contacter', 'mailto:floreal+blog@nimukaito.net') %></li>
                </ul>
            </div>
        </div>
    </nav>
