    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/materialize.min.js"></script>

    <script>
      $( document ).ready(function(){
          $(".button-collapse").sideNav();
      });
    </script>
