<!DOCTYPE html>
<html lang="fr">

<%= render '/partials/head.html' %>

<body>
    <%= render '/partials/nav.html' %>

    <div class="container">

        <div class="flow-text">
	<%= yield %>
        </div>


        <h2>Derniers billets</h2>
        <% for post in sorted_articles[0..3] do %>
        <%= render '/partials/article-card.html', post: post %>
        <% end %>

    </div>
    <%= render '/partials/footer.html' %>
    <%= render '/partials/scripts.html' %>
</body>

</html>
