<!DOCTYPE html>
<html lang="fr">

<%= render '/partials/head.html' %>

<body>
    <%= render '/partials/nav.html' %>

    <!-- Page Content -->
    <div class="container content">

        <!-- Title -->
        <h1><%= @item[:title] %></h1>

	<%= render '/partials/article-meta.html', article: @item %>
        <div class="flow-text">
        <%= yield %>
        </div>
        <%= comments_section %>

    </div>
    <!-- /.container -->
    <%= render '/partials/footer.html' %>
    <%= render '/partials/scripts.html' %>
    <%= comments_script %>
</body>

</html>
