<!DOCTYPE html>
<html lang="fr">

<%= render '/partials/head.html' %>

<body>
    <%= render '/partials/nav.html' %>

    <!-- Page Content -->
    <div class="container content">
        <!-- Title -->
        <h1><%= @item[:title] %></h1>

        <!-- Content -->
        <div class="flow-text">
        <%= yield %>
	</div>
    </div>
    <!-- /.container -->

    <%= render '/partials/footer.html' %>
    <%= render '/partials/scripts.html' %>

</body>

</html>
