a {
  color: #689f38;
}

blockquote {
  border-color: #33691e;
}

footer {
  padding-bottom: 1rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #FFFFFF;
}

main {
  flex: 1 0 auto;
}

.content > ul > li {
  list-style-type: initial;
  list-style-position: inside;
}

img {
  max-width: 100%;
  height: auto;
}
